@media screen and (max-width: 1024px) {
  .portfolio {
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .skills {
    .title {
      margin-bottom: 47px;
    }

    .subtitle {
      padding-bottom: 45px;
    }

    .card {
      margin-bottom: 40px;

      &__description {
        margin-bottom: 20px !important;
      }
    }
  }
}

@media screen and (max-width: 501px) {
  .contacts {
    .title {
      margin-bottom: 30px;
    }

    .subtitle {
      margin-bottom: 40px;
      font-size: 14px;
    }

    .btn {
      font-size: 13px;
    }
  }

}
